[flake8]
exclude = */docs/*,*/.tox/*,*/.venv/*
max-line-length = 100

# E12x continuation line indentation
# E251 no spaces around keyword / parameter equals
# E303 too many blank lines (3)
ignore = E12,E251,E303
